# Laravel & PHP
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*
.env
.env.backup
.phpunit.result.cache

# Laravel specific files
Homestead.json
Homestead.yaml
docker-compose.override.yml

# IDEs and editors
/.idea
/.vscode

# Logs & Debug
npm-debug.log
yarn-error.log

# OS-specific
.DS_Store
Thumbs.db
